.green {
    background : green;
    position: absolute;
    z-index: 10;
}

.red {
    background : red;
    position: absolute;
    z-index: 10;
}

.blue {
    background : blue;
    position: absolute;
    z-index: 10;
}

.yellow {
    background : yellow;
    position: absolute;
    z-index: 10;
}

.pink {
    background : pink;
    position: absolute;
    z-index: 10;
}

.orange {
    background : orange;
    position: absolute;
    z-index: 10;
}

.violet {
    background : violet;
    position: absolute;
    z-index: 10;
}

.aqua {
    background : aqua;
    position: absolute;
    z-index: 10;
}

.grey {
    background : grey;
    position: absolute;
    z-index: 10;
}









